$main_red: #f38181;
$main_yellow: #fce38a;
$main_green: #eaffd0;
$main_blue: #95e1d3;
$main_white: #ffffff;
$main_text_color: #999999;
$main_section_text_color: #333333;

.header-top {
  color: $main_white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}

.header-links {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav > a {
  font-family: "Montserrat";
  color: inherit;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 600;


  &:hover {
    color: $main_yellow;
  }
}

.mogo > a {
  font-size: x-large;
  color: $main_white;

  &:hover {
    color: $main_yellow;
  }
}

header {
  background-image: url('../../public/img/picture.png');
}

.container {
  color: $main_white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.creative {
  color: inherit;
  font-weight: bold;
  font-size: 72px;
  text-align: center;
  font-family: "KaushanScript";

}

.welcome {
  text-align: center;
  color: inherit;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 150px;
}

.banner-learn {
  padding: 10px 30px;
  text-transform: uppercase;
  border: 5px solid $main_white;
  color: $main_white;
  font-size: 20px;

  &:hover {
    color: $main_yellow;
  }
}

.header-bottom {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.header-bottom > a {
  padding: 40px;
  color: $main_white;

  &:hover {
    color: $main_yellow;
  }
}


hr {
  background: $main_white;
  position: relative;
  width: 10%;
  height: 3px;
  font-size: 10px;
  line-height: 0;
  clear: both;
  border: none;
  margin-top: 1rem;
  margin-bottom: 5rem !important;
  border-top: 3px solid rgba(0, 0, 0, .1) !important;
}

.about > .container {
  color: black;
}

.about-text > hr {
  background: $main_red !important;
}

.about-text {
  margin: 60px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

}

.about-image {
  display: flex;
  justify-content: space-between;
}

.about-image > img {
  margin: 20px;

  &:hover {
    background: $main_blue;
  }
}

.facts {
  margin-top: 60px;
  background: $main_blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facts-box {
  margin: 20px;
  color: $main_white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.facts-box :first-child {
  font-size: 72px;

}

.facts-box :last-child {
  font-size: 14px;

}

.facts-vl {
  border-left: 1px solid $main_white;
  height: 270px;
  opacity: 0.302;


}

.service-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.service-box-content {
  display: flex;
  justify-content: center;
}

.service-box-content > img {
  width: 32px;
  height: 31px;
}

.service-box-content-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.service-box-content-text :first-child {
  font-size: 14px;
}

.service-box-content-text :last-child {
  display: flex;
  flex: initial;
  flex-wrap: wrap;
  font-size: 15px;
  width: 300px;
}

.service-box-content :first-child {
  margin-right: 20px;
}

.service-box hr {
  width: 70%;
  height: 0;
  margin-bottom: 0 !important;
}

.work-text {

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: stretch;
  height: 100vh;
  background-image: url('../../public/img/White.png'), url('../../public/img/Rectangle 21.png'), url('../../public/img/display bg 768x1024.png');
  background-repeat: no-repeat;
  margin-top: 50px;

}

.contact-head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-head-text {
  width: 954px;
  display: flex;
  flex-wrap: wrap;
}

.contact-main {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact-img {
  margin-right: 40px;
  width: 570px;
  height: 380px;
  background-image: url("../../public/img/Rectangle 8.png");
}

.contact-content {
  width: 604px;
  height: 380px;
}

.card-link {
  height: 36px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

.linking {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.card-link :last-child {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;

}

.card-body {
  height: 195px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
  height: auto;
}

.card-body {
  /* Track */
  &::-webkit-scrollbar-track {
    margin: 15px;
    box-shadow: 0 0 5px rgb(245, 245, 245);
    border-radius: 5px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $main_blue;
    border-radius: 3px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $main_yellow;
  }
}

.card-header {
  background-color: rgba(0, 0, 0, 0) !important;
}

.card-header > a {
  background: transparent;
}


.card-header-text {
  font-family: "Montserrat";
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
}

.card-body {
  font-size: 15px;
  font-family: "Roboto";
  color: $main_text_color;
  font-style: italic;
  line-height: 1.6;
  text-align: left;
}

.p-title-text {
  font-family: "Roboto";
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
  color: $main_text_color;

}

.section-bold-text {
  font-family: "Montserrat";
  font-size: 30px;
  color: $main_section_text_color;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.Service {
  color: rgb(51, 51, 51);
  position: absolute;
  left: 925.274px;
  top: 3627.6px;
  z-index: 137;
}

.section-bold-first {
  font-size: 24px;
  font-family: "KaushanScript";
  color: $main_section_text_color;
  line-height: 1.2;
  text-align: center;
}

.slideshow-container {
  height: 290px;
  position: relative;
  background: rgb(248, 248, 248);
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: $main_white;
  color: white;
}


.slider-text {
  font-size: 24px;
  font-family: "Roboto";
  color: $main_text_color;
  font-style: italic;
  line-height: 1.5;
  text-align: left;
}

.author {
  font-size: 24px;
  font-family: "KaushanScript";
  color: $main_section_text_color;
  line-height: 1.2;
  text-align: left;

}

.slider-img {
  color: $main_blue;
  border: 3px solid $main_blue;
  padding: 30px 30px;
  margin-right: 40px;
}

.slideshow-container {
  align-items: center;
  margin-top: 120px;
}

q {
  width: 747px;
  height: 100px;
}

.quote-quote {
  display: flex;
  align-items: center;
  justify-content: center;

}

.quote-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
}

.our-team {
  margin-top: 80px;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.each-team-player {
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.team-member-name {
  margin-top: 40px;
  font-size: 14px;
  font-family: "Montserrat";
  color: $main_section_text_color;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  font-weight: 400;
}

.team-member-position {
  font-size: 15px;
  font-family: "Roboto";
  color: $main_text_color;
  font-style: italic;
  line-height: 1.6;
  text-align: center;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  height: 250px;
  background-color: #F8F8F8;
  margin-bottom: 80px;
}

.logos > img {
  opacity: 0.8;
  height: 149px;
}

//.work-images{
//  display: flex;
//  align-items: end;
//  flex-wrap: wrap;
//}
.work-images > img {
  //vertical-align: middle;
  position: relative;
  float: left;
  width: 25%;
  height: 25%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.work-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-head :last-child {
  background: $main_white !important;

}

.quote-content > q {
  font-size: 24px;
  font-family: "Roboto";
  font-style: italic;
  line-height: 1.5;
  text-align: left;
  color: $main_text_color;

}

.quote-content > p {
  font-size: 24px;
  font-family: "KaushanScript";
  text-align: left;
  color: $main_section_text_color;
  line-height: 1.2;
}

.work-quote-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.work-slider-img {
  padding: 30px;
}

.happy-clients {
  background-image: url("../../public/img/wps_background.png");
}
.happy-title{
  font-size: 15px;
  font-family: "Roboto";
  font-style: italic;
  line-height: 1.6;
  text-align: left;
  color: $main_section_text_color;
}
.happy-name{
  font-size: 14px;
  font-family: "Montserrat";
  text-transform: uppercase;
  text-align: left;
  line-height: 1.2;
  color: $main_section_text_color;
}


