$main_red: #f38181;
$main_yellow: #fce38a;
$main_green: #eaffd0;
$main_blue: #95e1d3;
$main_white: #ffffff;


.header-top {
  color: $main_white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}

.header-links {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav > a {
  font-family: "Montserrat";
  color: inherit;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 600;


  &:hover {
    color: $main_yellow;
  }
}

.mogo > a {
  font-size: x-large;
  color: $main_white;

  &:hover {
    color: $main_yellow;
  }
}

header {
  background-image: url('../../public/img/picture.png');
}

.container {
  color: $main_white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.creative {
  color: inherit;
  font-weight: bold;
  font-size: 72px;
  text-align: center;
  font-family: "KaushanScript";

}

.welcome {
  text-align: center;
  color: inherit;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 150px;
}

.banner-learn {
  padding: 10px 30px;
  text-transform: uppercase;
  border: 5px solid $main_white;
  color: $main_white;
  font-size: 20px;

  &:hover {
    color: $main_yellow;
  }
}

.header-bottom {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.header-bottom > a {
  padding: 40px;
  color: $main_white;

  &:hover {
    color: $main_yellow;
  }
}


hr {
  background: $main_white;
  position: relative;
  width: 10%;
  height: 3px;
  font-size: 10px;
  line-height: 0;
  clear: both;
  border: none;
  margin-top: 1rem;
  margin-bottom: 5rem !important;
  border-top: 3px solid rgba(0,0,0,.1) !important;
}
.about > .container {
  color: black;
}
.about-text > hr {
  background: $main_red !important;
}
.about-text {
  margin: 60px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

}
.about-image{
  display: flex;
  justify-content: space-between;
}
.about-image > img {
  margin: 20px;
  &:hover {
       background: $main_blue;
  }
}
.facts {
  margin-top: 60px;
  background: $main_blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.facts-box{
  margin: 20px;
  color: $main_white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.facts-box :first-child{
  font-size: 72px;

}
.facts-box :last-child {
  font-size: 14px;

}
.facts-vl{
  border-left: 1px solid $main_white;
  height: 270px;
  opacity: 0.302;


}
.service-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.service-box-content{
  display: flex;
  justify-content: center;
}
.service-box-content > img {
  width: 32px;
  height: 31px;
}
.service-box-content-text{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.service-box-content-text :first-child{
  font-size: 14px;
}
.service-box-content-text :last-child{
  display: flex;
  flex: initial;
  flex-wrap: wrap;
  font-size: 15px;
  width: 300px;
}
.service-box-content :first-child {
  margin-right: 20px;
}
.service-box hr {
  width: 70% ;
  height: 0 ;
  margin-bottom: 0 !important;
}

